img {
  /* display: block; */
  /* max-width: 100%; */
  height: auto;
}

.load-more {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.load-more-hidden {
  display: none;
}

.load-more:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.load-more:disabled {
  background-color: #c1c1c1;
  cursor: not-allowed;
}

.info {
  display: flex;
  gap: 15px;
}
